# --- Python & Environment ---
__pycache__/
*.py[cod]
*.so
.venv/

data/*
checkpoints/*
pretrained/*
results/*

!data/.gitkeep
!checkpoints/.gitkeep
!pretrained/.gitkeep
!results/.gitkeep

# --- IDE & System Files ---
.vscode/
.idea/
.DS_Store
